@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.w-fitcontent {
    width: fit-content;
}